/* CSS Document */ 
#cover-page {
	font-family: Verdana, Geneva, sans-serif;
}

#cover-page  {
	display: block;
	height: 900px;
	position: relative;
}

#cover-page footer#cover-footer {
	border-bottom: 1px solid #777;
	position: absolute;
	bottom: 15px;
	left: 25px;
	right: 25px;
	width: auto;
}

#cover-page .primary-logo {
	width: 300px;
	height: auto;
	/*border-left: 1px solid #777777;
	border-right: 1px solid #777777;*/
}

#cover-page .primary-header {
	color: #ffffff;
	background: #53391e;
	padding: 50px 0;
}

#cover-page .primary-title {
	font-size: 30px;
	line-height: 40px;
	text-transform: uppercase;
	margin: 0 25px;
	font-weight: bold;
}

#cover-page .primary-subtitle {
	font-size: 18px;
	line-height: 24px;
	margin: 0 25px;
	font-weight: bold;
}

#cover-page .pub-authors {
	font-size: 12px;
	max-width: 50%;
	line-height: 14px;
	padding-bottom: 0rem;
	padding-left: 10px;
}

/* Color Themes ---------------------------- */
#cover-page.gardening .primary-header {
	background: #7b4519;
}
#cover-page.4-h .primary-header {
	background: #008d3e;
}
#cover-page.agricultural-production .primary-header {
	background: #846223;
}
#cover-page.communities-and-economic-development .primary-header {
	background: #cb7329;
}
#cover-page.family-and-home .primary-header {
	background: #1a878e;
}
#cover-page.food-and-nutrition .primary-header {
	background: #c89100;
}
#cover-page.natural-resources .primary-header {
	background: #988028;
}
#cover-page.wsu-employees-and-volunteers .primary-header {
	background: #b41d30;
}

/*
* Title Page
* -------------------------------------------
*/
#title-page {
	page-break-after: always;
}


